<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="mb-0"><i class="fa fa-message me-2"></i>Template Pesan</h4>
  <a class="btn btn-primary" href="/templates/new"><i class="fa fa-plus me-2"></i>Tambah</a>
</div>
<div class="table-responsive card">
  <table class="table table-hover mb-0">
    <thead><tr><th>Judul</th><th>Isi</th><th>Link</th><th>Status</th></tr></thead>
    <tbody>
      <% templates.forEach(t => { %>
      <tr>
        <td><%= t.title %></td>
        <td style="white-space:pre-wrap"><%= t.body %></td>
        <td><a href="<%= t.link %>" target="_blank"><%= t.link %></a></td>
        <td><span class="badge <%= t.isActive?'bg-success':'bg-secondary' %>"><%= t.isActive?'Aktif':'Nonaktif' %></span></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
